/.mypy_cache/
/Input/*.xls*
Intput/Downloaded/
Input_Downloaded/
test*.json
test*.xlsx
role_data.*
*.html
output_save_cfx_webpage*/
connexion_param.py
*.pkl
cfx_extended_history.txt
output*.txt
Output/
Output*/
Output*.7z
tests/secret_tests_data.py
networkflowmatrix/manual_equipments_builder.py
networkflowmatrix/manual_group_definitions.py
