*.user
*.suo
*.ncb
*.htm
*.o
*.exe
*.pdb
*.manifest
*.ilk
*.dep
*.dev
*.idb
*.res
*.vsidx
*.ipch
*.tlog
Browse.VC.db
DocumentLayout.json
DocumentLayout.backup.json
Solution.VC.db
*.obj
*.exe.recipe
*.wsuo
*.db-shm
/.vs/*
.vs
debug





