*.zip
*.xls*
*.png
/.mypy_cache/
/Input/
/Input/*.txt
Input/CFX_kown_by_customer.txt
/Input_for_Tests/*.json
/Input_for_Tests/*.xlsx
test*.json
test*.xlsx
role_data.*
*.html
output_save_cfx_webpage*/
connexion_param.py
*.pkl
cfx_extended_history.txt
output*.txt
Output/
Output*/
Output*.7z