*.zip
*.7z
*.xls*
*.png
/.mypy_cache/
/Input__/
Input_Downloaded/
/Input/role_data_next_ats*
/Input/CFX_usine_site.txt
/Input/CFX_list_cyber_aio.txt
/Input_for_Tests/*.json
Input */
test*.json
test*.xlsx
role_data.*
*.html
output_save_cfx_webpage*/
connexion_param.py
*.pkl
cfx_extended_history.txt
output*.txt
Output/
Output*/
Output*.7z
generatecfxhistory/output/
main_reproduce_bugs*.py
